[data-scroll] {
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 0.3s;
}

[data-animation-1] {
    transition-delay: 0.3s;
}

[data-animation-2] {
    transition-delay: 0.6s;
}

[data-animation-3] {
    transition-delay: 0.9s;
}

[data-animation-4] {
    transition-delay: 1.2s;
}

[data-animation-5] {
    transition-delay: 1.5s;
}

[data-animation-6] {
    transition-delay: 1.8s;
}

[data-animation-7] {
    transition-delay: 2.1s;
}

[data-animation-8] {
    transition-delay: 2.4s;
}

[data-scroll="in"] {
    opacity: 1;
}