$primary-white: #ffffff;
$primary-color: #6CEEC7;
$primary-black: #000000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$input-rgba: rgba(0, 0, 0, 0.2);
$checkbox: #E0E0E0;
$primary-red: #DA5050;
$select-default: #5E5E5E;
$select-active: #212121;
$select-shadow: rgba(0, 0, 0, 0.3);